

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
    }
html {

    box-sizing: border-box;
    max-width: 1400px;
    min-width: 1400px;
    }
*, *:before, *:after {
        box-sizing: inherit;
    }
body {
    padding-top: .5em;
    }


/*Nav*/

.main-nav {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}
li {
  float: left;
  display: block;
  padding: 8px;
  font-family:Jellee-Roman;
  font-weight: bold;
}
  a { 
  text-decoration:none; 
  color: #707070;
  font-family:;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  }

.full_logo {
  max-width: 20%;
  padding-left: 1.2em;
  margin-left: 2em;
}


/* Body */


.img_1 {
  max-width: 50%;
  padding-bottom: 2.5em;
  float: right;
  z-index: 1;
}

p{
  margin-top: 3em;
  margin-left: 6em;
  font-size: 20px;
  font-family: Roboto-Regular;
  color:#5e5360;
  padding-left: .5em;

}
.main-content {
  padding:  1em;
  margin-left: .2em;
  margin-top: 1em;
}
.the_sell {
  margin-bottom: 10em;
}
h1 {
  color:#5e5360;
  font-family: Roboto;
  font-size: 50px;
  padding-left: 1em;
}
h2 {
  margin-top: 3em;
  font-family:Jellee-Roman;
  color:#5e5360;
  padding-left: 3.3em;
  font-size: 40px;
}

h3 {
  font-family:Jellee-Roman;
  color:#5e5360;
  padding-left: 3.8em;
}

/* Research */

.food_images {
  position: absolute;
  max-width: 96%;
  padding-left: 50em;
  padding-top: 10em;
}

.research_list {
  margin-top: 2.5em;
  margin-left: -2.5em;
  font-size: 40px;
  font-family: Roboto-Medium;
  color:#5e5360;
  padding-left: .5em;
  padding-bottom: 30em;
}

/* Process */

.processtitle {
  padding-left: 3em;
  padding-bottom: 3em;
  padding-top: 2em;
}

.tools {
   padding-left: 5em;
/*   display: inline-block;*/
  /*margin-left: 2em;
  padding: 5em;*/
/*  -webkit-columns: 2;
  -moz-columns: 2;*/
   color: #c3382a;
}

.illustrationtools{
   padding-left: 5em;
 /* display: inline-block;*/
  /*margin-left: 2em;
  padding: 5em;*/
/*  -webkit-columns: 2;
  -moz-columns: 2;*/
  color: #c3382a;

}

.processtitle_main {
  margin-top: 2.5em;
}
.persona_image {
  max-width: 70%;
  padding-left: 5em;
}
.sketch_image {
  max-width: 90%;
  margin: 2em;
  padding-left: 3em;
}
.sketch_wireframe {
  max-width: 50%;
  padding-left: 5em;
}
.wireframe {
  max-width: 60%;
  padding-left: 5em;
}
.branding1 {
  max-width: 50%;
  padding-left: 5em;
}
.info_tally {
  max-width: 50%;
}
.info_sketch {
   max-width: 50%;
}




/*Deliverables */
.brand_page2 {
max-width: 50%;
}


.style_guide {
  margin-left: 15em;
}

.infographic_final {
   margin-left: 20em;
  padding-top:  3em;
  width: 50%;
}

.prototype_final {
  max-width: 80%;
  margin-left: 10em;
  margin-top: 1em;

}

/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.footer-body p {
  color:#ffff;
  
}
.footer-body h3 {
  color:#ffff;
  float:left;
  padding-left: 3em;
}
.footer-header {
  font-family:sans-serif;
  color:#ffff;
  padding-left: 3em;
}
.platform_link {
 position:absolute;
  top: 80px;
}
.footer-body {
  background-color: #f3a61d;
  /* position:fixed;*/
   bottom:0;
   width:100%;
   height:150px; 
  }
  .footer-contact {
    padding-left: 3em;
    padding-top: 3em;
  }

