

html {

    box-sizing: border-box;
    max-width: 1200px;
    min-width: 1200px;
    }
*, *:before, *:after {
        box-sizing: inherit;
    }
/*body {
    padding-top: .5em;
    }*/


/*Nav*/

.main-nav {
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}
li {
  float: left;
  display: block;
  padding: 2px;
  font-family:Jellee-Roman;
  font-weight: bold;
}
h1 {
  color:#5e5360;
  font-family: Roboto;
  font-size: 50px;
  padding-left: 1em;
}
.nav {
   text-decoration:none; 
  color: #707070;
  font-family:;
  padding: 14px 25px;  
  text-align: center;
  display: inline-block;
}
.header {
  color:#5e5360;
  font-family: Roboto;
  font-size: 50px;
  padding-left: -1em;
  text-decoration: none;
}
/*  a { 
  text-decoration:none; 
  color: #707070;
  font-family:;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  }*/

.full_logo {
  max-width: 20%;
  padding-left: 1.2em;
  margin-left: 2em;
}


/* Body */
.platform_link {
  color: #ffffff;
  margin-left: 4.7em;
}


p{
  margin-top: 3em;
  margin-left: 6em;
  margin-right: 1em;
  font-size: 20px;
  font-family: Roboto-Regular;
  color:#5e5360;

}

h2 {
  margin-top: 3em;
  font-family:Jellee-Roman;
  color:#5e5360;
  padding-left: 3.3em;
  font-size: 40px;
}

h3 {
  font-family:Jellee-Roman;
  color:#5e5360;
  padding-left: 3.8em;
}

.img_1 {
  max-width: 63%;
  padding-bottom: 2.5em;
  float: right;
  padding-left: 2em;
  z-index: 1;
}
.main-content {
  padding:  1em;
  margin-left: .2em;
  margin-top: 1em;
}
.the_sell {
  margin-bottom: 10em;
}


/* About */

/*.about {
  margin:  3em;
}*/
.remi_2 {
  max-width: 50%;
  float: right;
  margin-bottom: 2em;
}

.remi_1 {

max-width: 70%;
margin-top: 6em;
/*margin-top: 10em*/
padding-bottom: 20em;
float: left;
}

.book-sources {
  margin-bottom:8em;
  margin-left: 40em;
}


/* Research */

.food_images {
  position: absolute;
  max-width: 96%;
  padding-left: 50em;
  padding-top: 10em;
}

.research_list {
  margin-top: 2.5em;
  margin-left: -2.5em;
  font-size: 40px;
  font-family: Roboto-Medium;
  color:#5e5360;
  padding-left: .5em;
  padding-bottom: 2.5em;
}
.processtitle_r {
  padding-left: 1.5em;
  padding-bottom: 1em;
}
.r_description {
  margin-left: 2em;
}
.info_tally {
  max-width: 94%;
  margin-left: 2.4em;
  margin-bottom: 5em;
}

/* Process */

.meal_prep {
  max-width: 60%;
  margin-left: 20em;
}

.processtitle {
  padding-left: 3em;
  padding-bottom: 1em;
}

.tools {
   padding-left: 5em;
   color: #c3382a;
}
.digitaltools {
     padding-left: 13em;
   font-size: 20px;
  color: #c3382a;
  
}
.illustrationtools{
   padding-left: 13em;
   font-size: 20px;
  color: #c3382a;

}
.processtitle_main {
  margin-top: 2.5em;
}
.persona_image {
  max-width: 80%;
  padding-left: 24em;
}
.sketch_image {
  max-width: 85%;
  margin: 2em;
  padding-left: 15em;
}
.sketch_wireframe {
  max-width: 75%;
  padding-left: 33em;
}
.wireframe {
  max-width: 85%;
  padding-left: 25em;
}
.branding1 {
  max-width: 95%;
  padding-left: 25em;
}

.info_sketch {
   max-width: 85%;
   padding-left: 30em;
   margin-bottom: 6em;
}




/*Deliverables */
.brand_page2 {
max-width: 50%;
}


.style_guide {
  margin-left: 20em;
}

.infographic_final {
   margin-left: 28em;
  padding-top:  3em;
  width: 45%;
}

.prototype_final {
  max-width: 70%;
  margin-left: 17em;
  margin-top: 1em;

}

.illustration {
    margin-left: 15em;
    max-width: 70%;
}

.guide_image4 {
  max-width: 80%;
}

/* Summary */

.kale_mango{

  max-width: 60%;
  margin-left: 17em;
  margin-bottom: 5em;
}
/* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.footer-body p {
  color:#ffff;
  
}
.footer-body h3 {
  color:#ffff;
  float:left;
  padding-left: 3em;
}
.footer-header {
  font-family:sans-serif;
  color:#ffff;
  margin-top: 1.75em;
}
.platform_link {
 position:absolute;
  top: 150px;
 left: 34px;
  text-decoration: none;
  color: fffff;
}
.footer-body {
  background-color: #f3a61d;
  /* position:fixed;*/
   bottom:0;
   width:130%;
   height:160px; 
  }
  .footer-contact {
    padding-left: -7em;
    padding-top: 3em;
  }

